.contenedor-video{
	display: flex;
	justify-content: center;
	background-color: #be2e21;
}
.video{
	height: 380px;
	width: 825px;
	background-color: #be2e21;
	display: flex;
	justify-content: center;
	align-items: center;
}
.video iframe{
	width: 100%;
	height: 100%;
}
.imagenes-video{
	max-height: 800px;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: #faf5ee;
	padding-top: 80px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 80px;
}
.wrap-imagen1, .wrap-imagen2{
	width: 660px;
	height: 330px;
	background-color: #ddd;
	margin-top: 15px;
	margin-bottom: 7.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.imagen1{
	background-image: url(../../../images/tips/1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;	
}
.imagen1-hover{
	background-image: url(../../../images/tips/1-hover.jpg);
	height: 100%;
	width: 100%;	
}
.imagen2{
	background-image: url(../../../images/tips/2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
.imagen2-hover{
	background-image: url(../../../images/tips/2-hover.jpg);
	height: 100%;
	width: 100%;
}
.manito{
	cursor: pointer;
}
@media only screen and (min-width: 1800px) {
 	.imagenes-video{
		max-height: 800px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.wrap-imagen1{
		margin-left: initial;
	}
	.wrap-imagen2{
		margin-right: initial;
	}
}
