
body{
	padding: 0;
	margin: 0;
}

/*PANTALLA GRANDE*/
@media (min-width: 1200px) { 
  	
	#i1{
		display: none;
	}
	#detalle1, #detalle2, #detalle3, #detalle4{
		font-size: 0.8em;
	}
	#efecto1, #efecto2, #efecto3, #efecto4{
		width: 90%;
	    height: 85%;
	    background: linear-gradient(red, red);;
	    position: absolute;
	    opacity: 0;
	    transition: opacity 1s;
	}
	#efecto1:hover, #efecto2:hover, #efecto3:hover, #efecto4:hover {
	    opacity: .15;
	    width: 90%;
	    height: 85%;
	}
}


/*MEDIA QUERYS*/
/*Dispositivos muy pequeños (MINIMO - 576px)*/
@media (max-width: 575px) {
	#detalle1, #detalle2, #detalle3, #detalle4{
		font-size: 1.3em;
	}
}

/*Dispositivos pequeños (576 - 767)*/
@media (min-width: 576px) and (max-width: 767px) { 
	#detalle1, #detalle2, #detalle3, #detalle4{
		font-size: 1.3em;
	}
}

/*Dispositivos medianos (768 - 991)*/
@media (min-width: 768px) and (max-width: 991px) { 
	#detalle1, #detalle2, #detalle3, #detalle4{
		font-size: 1.2em;
	}
}

/*Dispositivos grandes (992 - 1199)*/
@media (min-width: 992px) and (max-width: 1199px) { 
	#detalle1, #detalle2, #detalle3, #detalle4{
		font-size: 0.8em;
	}
}

/*Dispositivos muy grandes(1200 - MAS)*/



/*PANTALLA CHICA*/
/* MENORES A 1200 */
@media (max-width: 1200px) { 
	#texto_debajoImagen2{
		font-size: 0.7em;
	}
	#texto_debajoImagen1{
		width: 20%;
	}
	#imagen{
		height: 100px;
	}
}
/**/


#facebook a:hover, #twitter a:hover, #youtube a:hover{
	color: black;
	text-decoration:none; 
}
#texto_debajoImagen{
	width: 100%;
	height: 100px;
	background-color: rgb(255,37,19);
	display: flex;
	justify-content: center;
	align-items: center;
}
#texto_debajoImagen1{
	width: 5%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#texto_debajoImagen2{
	width: 50%;
	height: 90%;
	color: white;
	text-align: right;
	display: flex;
	align-items: center;
}
#productos{
	width: 100%;
	background-color: rgb(255,248,240);
}
#parrafo1 {
	font-family: fuente;
	text-align: center; 
	font-size: 4em; 
	font-weight: bold;
}
#parrafo2 {
	font-size: 1.5em;
	text-align: center;
	color: red;
	font-weight: bold;
}
#imagen1_productos{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#parrafo3{
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}
/*estilo nuevo*/

.imagenProductos{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
.efecto{
	width: 100%;
    height: 92%;
    background: linear-gradient(red, yellow);;
    position: absolute;
    opacity: 0;
    transition: opacity 1s, width 1s;
}
.efecto:hover {
    opacity: 0.5;
    width: 50%;
    height: 92%;
}
.img{
	
	width: 100%;
	
}
.boton{
	position: absolute;
	opacity: 0;
	width: 33.2%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 10px;
	transition: opacity 1s;
}
.boton:hover{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}
.detalle{
	color: red; 
	text-decoration: none; 
	font-size: 2em; 
	font-weight: bold;
}
.detalle:hover{
	color: red; 
	text-decoration: none; 
	font-size: 2em; 
	font-weight: bold;
}
/* NUESTRAS MARCAS*/
#nuestrasMarcas{
	
	width: 100%; 
	border: solid 1px; 
	background-color: red; 

}
#nuestrasMarcas_parrafo1{
	text-align: center;
	font-size: 2em;
	color: white;
}
#nuestrasMarcas_parrafo2{
	text-align: center;
	font-size: 1.5em;
	color: white;
}

/*FUENTES*/


 
 



