
body{
	padding: 0;
	margin: 0;
}

/*PANTALLA GRANDE*/
@media (min-width: 1200px) { 
  	
	
	#detalle1, #detalle2, #detalle3, #detalle4{
		font-size: 0.8em;
	}
	#efecto1, #efecto2, #efecto3, #efecto4{
		width: 90%;
	    height: 85%;
	    background: linear-gradient(red, red);;
	    position: absolute;
	    opacity: 0;
	    transition: opacity 1s;
	}
	#efecto1:hover, #efecto2:hover, #efecto3:hover, #efecto4:hover {
	    opacity: .15;
	    width: 90%;
	    height: 85%;
	}
}


/*MEDIA QUERYS*/
/*Dispositivos muy pequeños (MINIMO - 576px)*/
@media (max-width: 575px) {
	#detalle1, #detalle2, #detalle3, #detalle4{
		font-size: 1.3em;
	}
}

/*Dispositivos pequeños (576 - 767)*/
@media (min-width: 576px) and (max-width: 767px) { 
	#detalle1, #detalle2, #detalle3, #detalle4{
		font-size: 1.3em;
	}
}

/*Dispositivos medianos (768 - 991)*/
@media (min-width: 768px) and (max-width: 991px) { 
	#detalle1, #detalle2, #detalle3, #detalle4{
		font-size: 1.2em;
	}
}

/*Dispositivos grandes (992 - 1199)*/
@media (min-width: 992px) and (max-width: 1199px) { 
	#detalle1, #detalle2, #detalle3, #detalle4{
		font-size: 0.8em;
	}
}

#facebook a:hover, #twitter a:hover, #youtube a:hover{
	color: black;
	text-decoration:none; 
}


/* NUESTRAS MARCAS*/
#nuestrasMarcas{
	
	width: 100%; 
	border: solid 1px; 
	background-color: red; 

}
#nuestrasMarcas_parrafo1{
	text-align: center;
	font-size: 2em;
	color: white;
}
#nuestrasMarcas_parrafo2{
	text-align: center;
	font-size: 1.5em;
	color: white;
}