.footerf1{
	height: 170px;
	background-color: #be2e21;
}
.items-footerf1{
	text-align: center;
	text-transform: uppercase;
	padding-top: 20px;
	font-size: 14px;
}
.items-footerf1 a, .items-footerf1 a:hover{
	color: #ffffff;
	text-decoration: none;
}
.items-footerf1 i{
	font-size: .6em;
	color: #ddceaf;
}
.logo-footerf1{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.copyright-footerf1{
	display: flex;
	justify-content: center;
	font-size: 12px;
	color: #ffffff;
	margin-top: 10px;
}

@media (min-width: 20px) and (max-width: 990px) {
	.footerf1{
		height: 300px;
	}
	.items-footerf1 section{
		padding-top: 10px;
		font-size: 16px;
	}
	.logo-footerf1{
		margin-top: 10px;
	}
	.copyright-footerf1{
		margin-top: 10px;
	}
	
}
