.slider-marcas{
  margin-top: 120px;
}
#btn-prev, #btn-next{
  height: 47px;
  width: 47px;
  cursor: pointer;
  border: solid 5px;
  border-radius: 50%;
  border-color: red;
  display: flex;
  align-items: center;
  color: red;
  opacity: 0.5;
  transition: opacity 100s, background-color 0.5s, border-color 0.5s, border 1.3s ;
}
#btn-prev i, #btn-next i{
  margin-left: 30%;
  margin-top: 10%;
}
#btn-prev:hover, #btn-next:hover{
  cursor: pointer;
  border: solid 5px;
  border-radius: 50%;
  border-color: white;
  text-align: center;
  background-color: red;
  color: white;
  opacity: 1; 
}
.titulo-descripcion{
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 86px;
  margin-top: 45px;
}
.subtitulo-descripcion{
  font-size: 26px;
  color: #be2e21;
  margin-left: 86px;
}
.parrafo-descripcion{
  font-size: 26px;
  margin-left: 86px;
  color: #868686;
}
.marcas{
  padding-top: 70px;
  background: #dd2a1b ;
  height: 1260px;
}
.cabecera-marcas{
  height: 30%;
}
.titulo1-seccion{
  text-align: center;
  color: #fffaf3;
  font-size: 60px;
  text-transform: uppercase;
}
.subtitulo1-seccion{
  text-align: center;
  color: #fffaf3;
  font-size: 36px;
  margin-top: 55px;
  margin-bottom: 40px;
}
.centered{
  text-align: center;
}
.color-rama{
  color: #cd746d;
}
.parrafoMarcas{
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 90px;
}
.btn-marcas{
  height: 65px;
  width: 220px;
  background-color: #dd2a1b;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 211px;
  margin-top: 25px;
}
.btn-marcas:hover{
  color: #ffffff;
}

.slider{
  margin-top: 140px;
  height: 640px;
  width: 1280px;
  /*display: flex;*/
  border: solid 2px blue;
}
/* START SECCION SLIDER*/

/* SLIDER 1*/
#btn-prev, #btn-next{
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: solid 5px;
  border-radius: 50%;
  border-color: red;
  display: flex;
  align-items: center;
  color: red;
  opacity: 0.5;
  transition: opacity 100s, background-color 0.5s, border-color 0.5s, border 1.3s ;
}
#btn-prev:hover, #btn-next:hover{
  border-color: white;
  text-align: center;
  background-color: red;
  color: white;
  opacity: 1;
  box-shadow: 1px 1px 50px white; 
}
.frame-izquierda{
  /*background-color: yellow;*/
  padding: 0px;
}
.contenedor-slider1{
  overflow: hidden;
}
.slider1, .slider2, .slider3, .slider4 {
  display: flex;
  width: 400%;
}
.slider__section1, .slider__section2 {
  width: 100%;
}
.slider__section1 img {
  width: 100%;
  height: 640px;
}


/*-------------------------------------------------------*/

.frame-derecha{
  padding: 0px;
}
.contenedor-slider2 {
  overflow: hidden;
  height: 400px;
  width: 100%;
  background-color: #fffaf3;
}
.slider2 {  
  display: flex;
  width: 400%;
}
.slider__section2 img {
  width: 100%;
  height: 50%; /*Este valor debe reducirse con mediaquery luego*/
}
.seccion-muestras{
  height: 240px;
  display: flex;  
  justify-content: space-around;
  align-items: center;
  background-color: #f6eee4;
}
.contenedor-slider3, .contenedor-slider4{
  overflow: hidden;
  height: 150px;
  width: 150px;
  border: solid 5px #ffffff;
  border-radius: 50%;
}
.slider__section3, .slider__section4 {
    width: 100%;
}
.slider__section3 img, .slider__section4 img {
    width: 100%;
    height: 100%; 
}

/*media querys*/
/*(MINIMO - 575px)*/
@media (max-width: 575px) {
  .marcas{
    padding-top: 20px;
    height: 1600px;
  }
  .titulo1-seccion{
    font-size: 50px;
  }
  .slider-marcas{
    margin-top: 300px;
  }
  .slider__section1 img {
    height: 300px;
  }
  .contenedor-slider3, .contenedor-slider4{
    height: 100px;
    width: 100px;
  }
  .titulo-descripcion{
    font-size: 30px;
    margin-left: 26px;
    margin-top: 15px;
  }
  .subtitulo-descripcion{
    font-size: 26px;
    margin-left: 26px;
  }
  .parrafo-descripcion{
    font-size: 20px;
    margin-left: 2px;
  }
  .btn-marcas{
    margin-left: 100px;
    margin-top: 25px;
    height: 45px;
    width: 200px;
    font-size: 20px;
  }
  .contenedor-slider2 {
    height: 310px;
  }
  .seccion-muestras{
    height: 130px;
  }
  .parrafoMarcas{
    margin-top: 40px;
    margin-bottom: 90px;
  }
}
@media (min-width: 576px) and (max-width: 990px) {
  .slider__section1 img {
    height: 600px;
  }
}

@media (max-width: 1380px) {
  .slider__section2 img {
    height: 320px;
  }
}

@media (min-width: 990px) and (max-width: 1110px) {
  .titulo-descripcion{
    font-size: 30px;
    margin-left: 20px;
  }
  .subtitulo-descripcion{
    margin-left: 20px;
  }
  .parrafo-descripcion{
    margin-left: 20px;
  }
  .btn-marcas{
    margin-left: 20px;
  }
}
@media (min-width: 576px) and (max-width: 990px) {
  .marcas{
    height: 2100px;
  }
}

