 .header{
  height: 120px;
  padding-top: 30px;
  background: #ffffff;
 }

 .header-image{
  padding-left: 100px ;
 }

  .header-image .logo
  {
    width: 240px ; 
    height: 40px; 
 }
.header .menu li {
  text-align:center;
}

.header .menu li a
{
    text-transform: uppercase;
    color: #dd2a1b;
    font-size: 14px ;
}

.header .menu li i 
{
  color: #ddceaf ;
  font-size: .9rem; 
  right: 2px; 
  line-height: -7px;
  top: 19px;
  position: absolute;

}

.header .menu .active{
    background: #ffffff;
}

 @media(min-width: 992px) {
  .header .menu li 
  {
   max-width: 130px ;
  }
}

/* SOCIal*/

.social{
 list-style-type: none;
 width: 150px; 
 background-color: #ee948d;
 float: left;
 padding: 12px ; 
 margin-left: 30px ; 
}

.social li{
 display: inline;
 padding: 10px;
} 


.social li a {
 font-size: 25px;
 color: #ffffff ;
 width: 20px;
 text-decoration: none ;

}