.nav .navbar-nav li{
	height: 5em;
}
.navbar-header a img{
	width: 5.5em; margin-top: 0px
}
.item{
	color: rgb(255,37,19);
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
#social-media{
	margin-top: 5px;
	width: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ee948d;
	padding-bottom: 15px;
}
#social-media:hover{
	background-color: #ad2919;
}
/*items*/
#bs-example-navbar-collapse-1 ul li i{
	color: #ddceaf;
	padding-top: 15px;
}
/*viñetas*/
#bs-example-navbar-collapse-1 ul li a{
	color: #dd2a1b;

}
/*iconos de facebook twitter y youtube*/
#bs-example-navbar-collapse-1 ul li div i{
	color: #ffffff;
	text-decoration: none;
}
#bs-example-navbar-collapse-1 ul li div i:hover{
	color: #000000;
	text-decoration: none;
}




/*MEDIA QUERYS*/
/*(MINIMO - 575px)*/
@media (max-width: 575px) {
	.nav .navbar-nav li a img{
		display: none;
	}
	.nav .navbar-nav li{
		display: none;
		height: 0px;
	}
	.navbar-header a{
		width: 5.5em; 
		margin-top: 0px
	}
	#nav-general{
		background-color: #ffffff;
	}
}

/*(576 - 767)*/
@media (min-width: 576px) and (max-width: 767px) { 
	.nav .navbar-nav li a img{
		display: none;
	}
	.nav .navbar-nav li{
		display: none;
	}
	.navbar-header a{
		width: 5.5em; 
		margin-top: 0px;
	}
	#nav-general{
		background-color: #ffffff;
	}
}

/* (768 - 799)*/
@media (min-width: 768px) and (max-width: 800px) { 
	#nav-general{
		display: flex;
		height: 122px;
		align-items: center;
		padding-top: 25px;
		background-color: #ffffff;
	}
	.navbar-header a img{
		display: none;
	}
	.item{
		font-size: 8.5px;
	} 
	#imagenBrand{
		width: 6.0em; 
		margin-top: -10px;
	}
}
/*(800 - 850)*/
@media (min-width: 800px) and (max-width: 850px) { 
	#nav-general{
		display: flex;
		height: 122px;
		align-items: center;
		padding-top: 25px;
		background-color: #ffffff;
	}
	.navbar-header a img{
		display: none;
	}
	.item{
		font-size: 9.0px;
	} 
	#imagenBrand{
		width: 7.0em; 
		margin-top: -10px;
	}
}
/*(851 - 899)*/
@media (min-width: 850px) and (max-width: 900px) { 
	#nav-general{
		display: flex;
		height: 122px;
		align-items: center;
		padding-top: 25px;
		background-color: #ffffff;
	}
	.navbar-header a img{
		display: none;
	}
	.item{
		font-size: 10.0px;
	} 
	#imagenBrand{
		width: 7.0em; 
		margin-top: -10px;
	}
}
/*(900 - 991)*/
@media (min-width: 900px) and (max-width: 919px) { 
	#nav-general{
		display: flex;
		height: 122px;
		align-items: center;
		padding-top: 25px;
		background-color: #ffffff;
	}
	.navbar-header a img{
		display: none;
	}
	.item{
		font-size: 11px;
	} 
	#imagenBrand{
		width: 8.0em; 
		margin-top: -15px;
	}
}
/*(919 - 950)*/
@media (min-width: 919px) and (max-width: 950px) { 
	#nav-general{
		display: flex;
		height: 122px;
		align-items: center;
		padding-top: 25px;
		background-color: #ffffff;
	}
	.navbar-header a img{
		display: none;
	}
	.item{
		font-size: 11.0px;
	} 
	#imagenBrand{
		width: 9.0em; 
		margin-top: -20px;
	}
}
/*(900 - 991)*/
@media (min-width: 950px) and (max-width: 992px) { 
	#nav-general{
		display: flex;
		height: 122px;
		align-items: center;
		padding-top: 25px;
		background-color: #ffffff;
	}
	.navbar-header a img{
		display: none;
	}
	.item{
		font-size: 11.0px;
	} 
	#imagenBrand{
		width: 9.5em; 
		margin-top: -20px;
	}
}
/*(992 - 1199)*/
@media (min-width: 992px) and (max-width: 1200px) { 
	#nav-general{
		display: flex;
		height: 122px;
		align-items: center;
		padding-top: 25px;
		background-color: #ffffff;
	}
	.navbar-header a img{
		display: none;
	}
	.item{
		font-size: 12px;
	} 
	#imagenBrand{
		width: 9.5em; 
		margin-top: -20px;
	}
	
}
/*(1200 - 1299)*/
@media (min-width: 1200px) and (max-width: 1300px) { 
	#nav-general{
		display: flex;
		height: 122px;
		align-items: center;
		padding-top: 35px;
		background-color: #ffffff;
	}
	.navbar-header a img{
		display: none;
	}
	.item{
		font-size: 14px;
	} 
	#imagenBrand{
		width: 12.5em; 
		margin-top: -20px;
	}
	
}
/*(1300 - 1399)*/
@media (min-width: 1300px) and (max-width: 1400px) { 
	#nav-general{
		display: flex;
		height: 122px;
		align-items: center;
		padding-top: 35px;
		background-color: #ffffff;
	}
	.navbar-header a img{
		display: none;
	}
	.item{
		font-size: 14px;
	} 
	#imagenBrand{
		width: 12.5em; 
		margin-top: -20px;
	}
	
}

/*(1400 - MAS)*/
@media (min-width: 1400px) {
	#nav-general{
		display: flex;
		height: 122px;
		align-items: center;
		padding-top: 35px;
		background-color: #ffffff;
	}
	.navbar-header a img{
		display: none;
	}
	.item{
		font-size: 14px;
	} 
	#imagenBrand{
		width: 14.5em; 
		margin-top: -30px;
	}
}
