#imagen{
	width: 100%;
	height: 725px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -20px;
}

#cocinera{
	width: 100%;
	height: 725px;
	z-index: -1;
	position: absolute;
}
#logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: -3em;
	height: 20%;

}
#logo img{
	height: 80%;
	width: 35%;
}
/*MEDIA QUERYS*/
/*(MINIMO - 575px)*/
@media (max-width: 575px) {
	#imagen{
		width: 100%;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#cocinera{
		width: 100%;
		height: 300px;
		z-index: -1;
		position: absolute;
	}
	#texto_sobreImagen p{
		margin: 0em;
		font-size: 20px;
	}
}

/*(576 - 767)*/
@media (min-width: 576px) and (max-width: 767px) {
	#imagen{
		width: 100%;
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#cocinera{
		width: 100%;
		height: 400px;
		z-index: -1;
		position: absolute;
	}
}
/* (768 - 799)*/
@media (min-width: 768px) and (max-width: 800px) {
	#imagen{
		width: 100%;
		height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#cocinera{
		width: 100%;
		height: 500px;
		z-index: -1;
		position: absolute;
	}
}

#texto_sobreImagen{
	margin: 0.5em;
	font-size: 30px;
}
.brandon-text-bold p{
	font-size: 30px;
}

