.marcas{
	padding-top: 70px;
	background: #dd2a1b ;
  height: 1260px;
}
.cabecera-marcas{
  height: 30%;
}
.titulo1-seccion{
  text-align: center;
  color: #fffaf3;
  font-size: 60px;
  text-transform: uppercase;
}
.subtitulo1-seccion{
  text-align: center;
  color: #fffaf3;
  font-size: 36px;
  margin-top: 55px;
  margin-bottom: 40px;
}
.centered{
  text-align: center;
}
.color-rama{
  color: #cd746d;
}
.parrafoMarcas{
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 90px;
}
.btn-marcas{
  height: 65px;
  width: 220px;
  background-color: #dd2a1b;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 211px;
  margin-top: 25px;
}
.btn-marcas:hover{
  color: #ffffff;
}

/*.boton-marcas a{
  text-decoration: none;
}
.link{
  text-decoration: none;
  color: #ffffff;
}*/
.slider{
  margin-top: 140px;
  height: 640px;
  width: 1285px;
  display: flex;
}
/* START SECCION SLIDER*/
.imagen1{
  background-image: url(../../images/imagenes-slider/1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.imagen2{
  background-image: url(../../images/imagenes-slider/2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.imagen3{
  background-image: url(../../images/imagenes-slider/3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}
.imagen4{
  background-image: url(../../images/imagenes-slider/4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#panel_imagen{
  width: 50%;
  height: 100%;
}
#panel_izquierda{
  width: 50%;
  height: 100%;
}
#descripcion{
  width: 100%;
  height: 63%;
  display: flex;
}
#descripcion1{
  height: 100%;
  width: 100%;
  background-color: #fffaf3;
  width: 100%;
}
.titulo-descripcion{
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 86px;
  margin-top: 45px;
}
.subtitulo-descripcion{
  font-size: 26px;
  color: #be2e21;
  margin-left: 86px;
}
.parrafo-descripcion{
  font-size: 26px;
  margin-left: 86px;
  color: #868686;
}
.item-descripcion{
  height: 100%;
  width: 100%;
  background-color: #fffaf3;
  display: none;
}
#descripcion2{
  height: 100%;
  width: 100%;
  background-color: #fffaf3;
  display: none;
}
#descripcion3{
  height: 100%;
  width: 100%;
  background-color: #fffaf3;
  display: none;
}
#descripcion4{
  height: 100%;
  width: 100%;
  background-color: #f6eee4;
  display: none;
}
#slider{
  width: 100%;
  height: 37%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(249,237,228);

}
#flecha_izquierda, #flecha_derecha{
  height: 47px;
  width: 47px;
  cursor: pointer;
  border: solid 5px;
  border-radius: 50%;
  border-color: red;
  display: flex;
  align-items: center;
  color: red;
  opacity: 0.5;
  transition: opacity 100s, background-color 0.5s, border-color 0.5s, border 1.3s ;
}
#flecha_izquierda i, #flecha_derecha i{
  margin-left: 30%;
  margin-top: 10%;
}
#flecha_izquierda:hover, #flecha_derecha:hover{
  cursor: pointer;
  border: solid 5px;
  border-radius: 50%;
  border-color: white;
  text-align: center;
  background-color: red;
  color: white;
  opacity: 1;
  /*box-shadow: 1px 1px 50px white; */
  
}
#imagen1_slider{
  height: 170px;
  width: 170px;
  border: solid 5px;
  border-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: example;
    animation-duration: 2s;
}
#imagen2_slider{
  height: 170px;
  width: 170px;
  border: solid 5px;
  border-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes opacidad {
    from {
      opacity: 0;
    }
    to {
      opacity:1;
    }
}
/*iniciamos con 184 lineas*/