#btn-prev, #btn-next{
  height: 47px;
  width: 47px;
  cursor: pointer;
  border: solid 5px;
  border-radius: 50%;
  border-color: red;
  display: flex;
  align-items: center;
  color: red;
  opacity: 0.5;
  transition: opacity 100s, background-color 0.5s, border-color 0.5s, border 1.3s ;
}
#btn-prev i, #btn-next i{
  margin-left: 30%;
  margin-top: 10%;
}
#btn-prev:hover, #btn-next:hover{
  cursor: pointer;
  border: solid 5px;
  border-radius: 50%;
  border-color: white;
  text-align: center;
  background-color: red;
  color: white;
  opacity: 1; 
}
.titulo-descripcion{
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 86px;
  margin-top: 45px;
}
.subtitulo-descripcion{
  font-size: 26px;
  color: #be2e21;
  margin-left: 86px;
}
.parrafo-descripcion{
  font-size: 26px;
  margin-left: 86px;
  color: #868686;
}
.marcas{
	padding-top: 70px;
	background: #dd2a1b ;
  height: 1260px;
}
.cabecera-marcas{
  height: 30%;
}
.titulo1-seccion{
  text-align: center;
  color: #fffaf3;
  font-size: 60px;
  text-transform: uppercase;
}
.subtitulo1-seccion{
  text-align: center;
  color: #fffaf3;
  font-size: 36px;
  margin-top: 55px;
  margin-bottom: 40px;
}
.centered{
  text-align: center;
}
.color-rama{
  color: #cd746d;
}
.parrafoMarcas{
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 90px;
}
.btn-marcas{
  height: 65px;
  width: 220px;
  background-color: #dd2a1b;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 211px;
  margin-top: 25px;
}
.btn-marcas:hover{
  color: #ffffff;
}
#panel_izquierda{
  width: 50%;
  height: 100%;
}
.slider{
  margin-top: 140px;
  height: 640px;
  width: 1285px;
  display: flex;
}
/* START SECCION SLIDER*/

/* SLIDER 1*/
#contenedor-slider1{
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.slider1 {
  display: flex;
  width: 400%;
}
.slider__section1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider__section1 img {
  width: 100%;
  height: 100%;
}

/* SLIDER 2*/
#contenedor-slider2{
  width: 100%;
  height: 61%;
  overflow: hidden;
  background-color: #fffaf3;
}
.slider2 {
  display: flex;
  width: 400%;
}
.slider__section2 {
  width: 100%;
}
#contenedor-sliders{
  width: 100%;
  height: 37%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(249,237,228);

}

#contenedor-slider3{
  height: 170px;
  width: 170px;
  border: solid 5px;
  border-color: white;
  border-radius: 50%;
  overflow: hidden;
}
.slider3 {
  display: flex;
  width: 400%;
}
.slider__section3 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider__section3 img {
  width: 100%;
  height: 100%;
}

/*SLIDER 4*/
#contenedor-slider4{
  height: 170px;
  width: 170px;
  border: solid 5px;
  border-color: white;
  border-radius: 50%;
  overflow: hidden;
}
.slider4 {
  display: flex;
  width: 400%;
}
.slider__section4 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider__section4 img {
  width: 100%;
  height: 100%;
}

@keyframes opacidad {
    from {
      opacity: 0;
    }
    to {
      opacity:1;
    }
}