@media only screen and (max-width: 500px) {
	.productos h2{
	     font-size: 3em;
	     margin-top: -30px;
    }
    .productos h4{
    	font-size: 1.5em;	
    	margin-top: 50px;
    }
  	.productos .parrafo{
		font-size: 1.5em;
		margin-top: -20px;
	}
	.nd-wrap img{
		display: block;
		height: 22em;
		border-top: 10px solid #be2e21;
	}

}
/*#productos{
	width: 100%;
	background-color: rgb(255,248,240);
}
#parrafo1 p{
	text-align: center; 
	font-size: 60px; 
	font-weight: bold;
}
#parrafo2 p{
	font-size: 36px;
	text-align: center;
	color: red;
}
#imagen1_productos{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#parrafo3 p{
	font-size: 26px;
	color: #565656;
	text-align: center;
	padding-left: 12%;
	padding-right: 12%;
}*/
/*estilo nuevo*/

/*.imagenProductos{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
.efecto{
	width: 100%;
    height: 92%;
    background: linear-gradient(red, yellow);;
    position: absolute;
    opacity: 0;
    transition: opacity 1s, width 1s;
}
.efecto:hover {
    opacity: 0.5;
    width: 50%;
    height: 92%;
}
#imagenes_productos .row .imagen_productos img{
	
}
.img{
	
	width: 100%;
	
}
.boton{
	position: absolute;
	opacity: 0;
	width: 33.2%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 10px;
	transition: opacity 1s;
}
.boton:hover{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}
.detalle{
	color: red; 
	text-decoration: none; 
	font-size: 2em; 
	font-weight: bold;
}
.detalle:hover{
	color: red; 
	text-decoration: none; 
	font-size: 2em; 
	font-weight: bold;
}*/